* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1000px; */
  display: flex;
  font-family:  Arial, sans-serif;
}

nav {
  
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.burger {
  position:absolute;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  text-align: center;
  top: 1rem;
  right: 25px;
  transition: .1s linear;
  /* border:2px #aaa solid; */
}


.burger:hover {
  cursor: pointer;
}

.fas {
  color: #aaa;
  display: none;
  transition: 1s linear;
}

.fas.show {
  display: block;
}

aside {
  position: absolute;
  background: #aaa;
  width: 300px;
  height: 100vh;
  top:0;
  left: -300px;
  transition: .5s linear;
}

aside.show {
  left: 0;
}

.wrapper {
  position: absolute;
  max-width: calc(100vw - 100px);
  padding: 1rem 2rem;
  /* border: 1px solid black; */
  transition: .5s linear;
  right: 100px;
  color: #888;
}

.wrapper.show {
  max-width: calc(100vw - 400px);
  
}