* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1000px; */
  /* display: flex; */
  font-family:  Arial, sans-serif;
  
}

nav {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 1rem;
  height: 50%;
  background: red;
}

.burger {
  position:fixed;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  text-align: center;
  top: 1rem;
  right: 1rem;
  transition: .1s linear;
  /* border:2px #aaa solid; */
}


.burger:hover {
  cursor: pointer;
}

.fas {
  color: #aaa;
  display: none;
  transition: 1s linear;
}

.fas.show {
  display: block;
}

aside {
  position: fixed;
  background: #aaa;
  width: 300px;
  top:0;
  bottom:0;
  left: -300px;
  transition: .5s linear;
}

aside.show {
  left: 0;
}

.wrapper {
  position: absolute;
  /* max-width: calc(100vw - 1rem); */
  padding: 1rem 2rem;
  /* border: 1px solid black; */
  transition: .5s linear;
  right: 4rem;
  left: 0;
  color: #888;
}

p{
font-size: 3rem;;

}

.wrapper.show {
  /* max-width: calc(100vw - 300px - 4rem); */
  left: 300px;
}